*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #5f0f40;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    transition: .2s;
    color: white;
}
p {
    padding-top: 20px;
}
#spinner{
    width: 50px;
    height: 50px;
    border: 2px solid #4d194d;
    border-top: 4px dotted white;
    border-radius: 50%;
    margin-left: 35%;
    transition-property: transform;
    animation-name: rotate ;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
